{% extends 'base.html' %}
{% block title %} ADMIN | FEDERAL COLLEGE OF EDUCATION IWO – IWO, OSUN STATE {% endblock title %}
{% block content %}
  <nav aria-label="container breadcrumb headerdiv">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'adminpages:adminpages_home' %}">My Quizzes</a></li>
      <li class="breadcrumb-item active" aria-current="page">All subject</li>
    </ol>
  </nav>
  <h2 class="container headerdiv mb-3">All subject</h2>
  <div class="row">
    <div class="col-md-6 col-sm-8 col-12">
		<div>
			{% for quiz in quizs %}				
				<a href="{% url 'adminpages:edit_quiz' quiz.pk %}" class="btn btn-primary">{{ quiz.name }} | status({{ quiz.status }})</a>
			{% endfor %}
		</div> 
    </div>
  </div>
{% endblock %}

